div.info {
        margin-left: 10px;
}
div.video-info {
        font-size: 15pt;
        font-weight: bold;
        margin: 10px 0px;
}
div.ad {
        text-align: center;
	margin-bottom: 5px;
}

div.marker {
	margin-top: -40px;
	float: left;
}
div.social-buttons {
	min-height: 20px;
}
div.social-buttons > div {
	float: left;
	margin-right: 2px;
}
td#gs_tti0 {
	padding: 0px;
}
div.gsc-control-cse {
	padding: 13px 0px;
}
ul.videos {
	margin-left: 0px;
}
ul.videos > li {
	background-color: #eee;
	list-style-type: none;
	padding: 10px;
	margin: 5px 0px;
}
ul.videos .date {
	font-size: 8pt;
}
ul.videos .title {
	font-size: 13pt;
}
ul.videos .info {
	margin: 3px;
	float: right;
}
